

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.example-app-name {
    margin-left: 8px;
  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .example-spacer {
    flex: 1 1 1;
  }

  div.img {
    /* display: flex;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-top: 50px;
    width: 450px;
  }

  mat-sidenav {
      width: 20%;
  }

  .iconNavBar {
      margin-left: 10px;
      color: white;
  }

  .example-toolbar {
      background-color: #1e3566;
      color: white;
      border-bottom: 1px solid white;
  }

  mat-sidenav {
    background-color: #1e497c;
  }

  .listMenu {
      color: white;
  }

  mat-sidenav-content {
    background-color: #1e3566;
  }

  /* mat-sidenav-content{

  } */
