.mainCenter {
    margin: 1rem;
    justify-content: space-around;
    color: white;
}

h1 {
  margin: 0 auto 0 auto;
  text-decoration: underline;
}

.row {
  display:flex;
  flex-direction:row;
}
.col {
  display: flex;
  flex-direction: column;
}

.btnJeux{
  justify-content: center;
  background-color: #1e497c;
  color:white;
  font-size: 100%;
  margin-left: 5%;
  height: 5rem;
  width: 13rem;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 16px;
}
.servDiscord{
  margin-top: 100%;
}

.userProfil {
  color: white;
}
