.mainCenter {
    margin: 1rem;
    justify-content: space-around;
    min-height: 80vh;
    color: white;
}

h1 {
  margin: 0 auto 0 auto;
  text-decoration: underline;
}

.row {
  display:flex;
  flex-direction:row;
}
.col {
  display: flex;
  flex-direction: column;
}

.userGameList {
}

.userFriendList {

}
