<div class="mainCenter row">

  <div class="userGameList col">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button class="btnJeux" mat-button color="primary" >Jeux</button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-left-list-game-user [user]="user"></app-left-list-game-user>   
    </mat-expansion-panel>  
  </div>

    <div class="lastInfoContent col">
      <app-top-infos-user [user]="user"></app-top-infos-user>
    </div> 

    <div class="userFriendList col">
      <mat-expansion-panel hideToggle class="expansion-panel-class" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button class="btnJeux" mat-button color="primary" >Amis</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-right-friends-user [user]="user"></app-right-friends-user> 
      </mat-expansion-panel>       
    </div>
    

</div>

