.main {
  margin:auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {

  width: fit-content;
  border: 2px solid white;
  background-color: black;
  color: #e2a551;
  margin: auto;
  margin-top: 10%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.containerUser {
  width: fit-content;
}
