.main {
  margin:auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 2px solid black;
  background-color: black;
  border-radius: 15%;
  margin: 15px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #318CE7;
  font-size: 1.5rem;
}

