.main {
  margin:auto;
  padding: auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.form {
  width: fit-content;
  color: white;
  margin: auto;
  margin-top: 10%;
  padding:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: #212529;
  border: solid #e2a551;
}

.containerUser {
  width: fit-content;
}
