.main {
  margin:auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: fit-content;
  border: 2px solid white;
  background-color: black;
  margin: auto;
  margin-top: 2rem;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #e2a551;
  font-size: 1.5rem;
  margin-top: 44px;
}

.containerUser {
  width: fit-content;
  
}
