.container {
  margin: 20%;
  background-color: goldenrod;
  width: 50%;
  height: 60%;
}

.formContainer {
  color:black;
  background-color: white;

}

.formContainer>form {

  margin: 20;
  padding: 20;
}
