.example-card {
    max-width: 230px;
    max-height: 300px;
  }
  
  mat-card {
    padding: 0;
  }
  
  mat-card-image {
    max-width: 8vh;
    max-height: 10vh;
  }
  
  .mat-card-image:first-child{
    margin-top: 0;
  }
  
  .imgCard {
    min-width: 230px;
    min-height: 300px;
    max-width: 230px;
    max-height: 300px;
    margin: auto;
    border-radius: 5px 5px;
  }
  
  mat-icon {
    color: white;
  }
  
  mat-button {
    z-index: 99999;
  }
  
  mat-card-actions{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 99999;
    top: -60px;
  }
  
  .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    margin: 0;
  }
  
  .centered {
    margin: auto;
    margin-top: -30px;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
