.example-card {
    max-width: 550px;
    max-height: 442px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
  }

  
  mat-card-image {
    max-width: 8vh;
    max-height: 10vh;
  }
  
  .mat-card-image:first-child{
    margin-top: 0;
  }
  
  .imgCard {
    min-width: 550px;
    min-height: 400px;
    max-width: 550px;
    max-height: 400px;
    margin: auto;
    border-radius: 5px 5px;
  }
  
  mat-icon {
    color: white;
  }
  
  mat-button {
    z-index: 99999;
  }
  
  mat-card-actions{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 99999;
    top: -60px;
  }
  
  .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    margin: 0;
  }
  
  .centered {
    margin: auto;
    margin-top: -30px;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
.titreJeu{
  text-align: center;
  margin-top: 15px;
  color: burlywood;
  font-size: larger;
}
.search{
  margin-top: 70px;
  margin-left: 30%;
  border: 1px solid #e2a551;
  box-shadow: 3px 3px 10px #e2a551;
  width: 41%;
  background-color: #212529;
  color: burlywood;
  height: 26px;
  font-size: larger;
  display: inline-block;
  padding: 8px;}
.label{
  color: burlywood;
}
.tertiaryCommu{
  margin-top: -5px;
  background-color: #e2a551; 
}
.tertiarySearch{
  margin-top: -5px;
  cursor: default;
  background-color: #e2a551; 
}
.groupeSearch{
  display: flex;
}
mat-card{
  background-color: #212529;
}