
<div class="profilContainer blur" *ngIf="auth0.isAuthenticated$ | async">
    <ng-template #mainPage>
        <div class="inputSearch">
        <mat-form-field class="search">
            <input matInput type="search" class="search-input" (keyup)="onKey($event)">                   
        </mat-form-field>
        </div> 
        <div class="container" >            
        <mat-card class="example-card secondary" *ngFor="let jeu of ListeDeJeux">
            <p class="titreJeu" >{{jeu.title}}</p>
            <img class="imgCard" mat-card-image src="{{jeu.pictureUrl}}" alt="Fortnite" >
            <mat-card-actions>
                <button mat-button class="tertiary" (click)="onPress(jeu)">
                    <mat-icon>add </mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    </ng-template>
    
    <div id="anyone" *ngIf="display; else mainPage">
        <app-page-communaute [jeu]="selectJeu" [commu]="communauteJeu"></app-page-communaute>
    </div>
  </div>

  <div class="profilContainer blur" *ngIf="(auth0.isAuthenticated$ | async) === false">

    <app-non-connecter></app-non-connecter>>
  
  </div>
  
  