.profilContainer {
  background-color: black;
  margin: auto;
  padding-top: 2rem;
  width: fit-content;
  height: fit-content;
  backdrop-filter: blur(5px);
}

.background {
  background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(0, 0, 0, 0.444);
  backdrop-filter: blur(8px);
  height: fit-content;
	width: fit-content;
}
