.background {
  background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(0, 0, 0, 0.444);
  backdrop-filter: blur(8px);
  height: fit-content;
	width: fit-content;
}
.profilContainer1 {
  margin-top: 1rem;
  background: #212529;
  border: solid #e2a551;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.message {
  margin: 20vh 20vh 20vh 20vh;
  justify-content: center;
  align-items: center;
  color: white;
}
