.example-card {
  max-width: 230px;
  max-height: 300px;
}
.discord-card {
  width: fit-content;
  height: fit-content;
}
.row{
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}
mat-card {
  padding: 0;
}

mat-card-image {
  max-width: 8vh;
  max-height: 10vh;
}

.mat-card-image:first-child{
  margin-top: 0;
}

.imgCard {
  max-width: 230px;
  max-height: 300px;
  margin: auto;
  border-radius: 5px 5px;
}

mat-icon {
  color: white;
}

mat-button {
  z-index: 99999;
}

mat-card-actions{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 99999;
  top: -60px;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0;
}

.centered {
  margin: auto;
  margin-top: -30px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.infosAccueil>img {
  width: 100%;
  height: 80vh;
  opacity: 0.4;
}

.infosText {
  font-size: xx-large;
  color: white;
  z-index: 10;
  position: relative;
  top: 150px;
  text-align: center;
}

.textCenterAccueil{
  font-family: Rockwell;
  text-align: center;
  color: white;
}

.box {
  position: relative;
  margin-top: 170px;
  margin-bottom: 130px;
  margin-left: 790px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 30deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img{
  position: absolute;
  top: 50;
  left: 0;
  width: 75%;
  height: 100%;
  object-fit: fill;
}

.icon{
  width: 6%;
  height: 6%;

}

.containerIcon{
  width: 50%;
  height: 50%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.discord{
  display: flex;
  margin-top: 50px;
}

.imgDiscord{
  margin: auto;
  width: 95%;
  height: 95%;
  border-radius: 5px 5px;
}

.fluidContainer1 {
  width: 100vw;
  /* background-color: rgba(18, 179, 179, 0.781); */
}

.fluidContainer2 {
  width: 100vw;
  /* background-color: rgba(170, 190, 190, 0.87); */
}

.fluidContainer3 {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.781);
}
