div {
  /* border: 1px solid red; */
}

.container {
  height: auto;
  width: auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;

}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  flex: 1;
}

.btnUp {
  border-radius: 30px;
  width: 76px;
  height: 56px;
}

.posBtn {
  position:fixed;
  bottom:1%;
  right:1%;
  z-index:9999;
  scroll-behavior: smooth;
}

.iconUp{
size: 50px;
}
