.container{
    width: 100%;
    opacity: 0.5;
}
.joinCommunity{
    position:relative;
    z-index: 9999;
    top: -582px;
    left: 90%;
}
.leaveCommunity{
    position:relative;
    z-index: 9999;
    top: -582px;    
    left: 90%;
}
.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    border-right: 15px;
}
.leftContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnMenu{
    margin-bottom: 50px;
    width: 150px;
}
.centerContainer{
    display: flex;    
    width: 90%;    
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightContainer{
    border: solid #e2a551;
    height: 50% ;
    background-color: #212529;
    border-radius: 10%;
    width:8%;
}

.cardEvent {
    margin-right: 40px;
    margin-top: 40px;
    background-color: #212529;
    border-radius: 3%;
    max-width: 90%;
}
  
.imgProfil {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.containerEvent{
    display: flex;
    flex-direction: row;
}
.titleRight{
    text-align: center;
    font-weight: bold;
}

.centerContainerQuestion{
    display: flex;  
    width: 90%;    
    flex-wrap: wrap;
    flex-direction: column;
}
.questionLabel{
    text-align: inherit;
    margin-top: 10px;
    color:white;
    margin-left: 12%;
}
.pseudoLabel{
    margin-top: 10px;
    margin-left: 15px;
}
.containerQuestion{
    display: flex;
    flex-direction: column;
}
.cardQuestion{
    margin-top: 40px;
    background-color: #212529;
    border-radius: 3%;
    border: 1px solid #e2a551;
    box-shadow: 3px 3px 10px #e2a551;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cardBtnQuestion{
    margin-top: 40px;
    background-color: #212529;
    border-radius: 3%;
    border: 1px solid #e2a551;
    box-shadow: 3px 3px 10px #e2a551;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 3rem;
}
.textAreaReponse{
    margin-top: 2rem;
    min-width: 100%;
    min-height: 100%;
    resize: none;
}
.labelBtn{
    margin-top: 10px;
    margin-left: 15px;
}
.divEvent{
    margin-right: 1rem;
}
mat-panel-description
{
  display: block;
}
textarea{
    resize: none;
    outline: none;
}
mat-expansion-panel{
    background-color: #212529;
}