.container{
    width: 100%;
    opacity: 0.5;
}
.joinCommunity{
    position:relative;
    z-index: 9999;
    top: -445px;
    left: 90%;
}
.leaveCommunity{
    position:relative;
    z-index: 9999;
    top: -445px;
    left: 90%;
}
.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    border-right: 15px;
}
.leftContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btnMenu{
    margin-bottom: 50px;
    width: 150px;
}
.centerContainer{
    display: flex;    
    width: 90%;    
    flex-wrap: wrap;
    /* border: solid;
    border-color: lavenderblush; */

}
.rightContainer{
    border: solid;
    height: 100% ;
    background-color: #318CE7;
    border-radius: 10%;
    width:8%;
}

.cardEvent {
    min-width: 50%;
    margin-right: 40px;
    margin-top: 40px;
    background-color: #184c80;
    border-radius: 3%;
}
  
.imgProfil {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.containerEvent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 13%;
}
.titleRight{
    text-align: center;
    font-weight: bold;
    
}

.centerContainerQuestion{
    display: flex;
    flex-direction: column;    
    width: 90%;    
    flex-wrap: wrap;
}
.questionLabel{
    text-align: center;
}