<div>
    <img class="container" src="{{jeu.communityBackgroundUrl}}">    
    <!--Afficher soit l'un soit l'autre-->
    <button mat-raised-button color="warn" class="leaveCommunity" >Quitter</button>
    <button mat-raised-button color="primary" class="joinCommunity" >Rejoindre</button>
</div>
<div class="mainContainer">
    <div class="lefContainer">
        <div>
            <button mat-raised-button color="primary" class="btnMenu">Evenement</button>
        </div>
        <div>
            <button mat-raised-button color="primary" class="btnMenu">Questions</button>
        </div>
        <div>
            <button mat-raised-button color="primary" class="btnMenu"> ????? </button>
        </div>
    </div>
    <div class="centerContainer">
        <p>amamamamamm</p>
    </div>
    <div class="rightContainer">
        <p>Membre de la communauté :</p>
    </div>
</div>



