
<div class="row header fluidContainer3">
  <h1>A Quoi TU Joue ?</h1>
</div>

<!-- Carousel of Cards Images -->
<div class="fluidContainer5">
  <div class="containerCarousel">
    <carousel [slides]="ListeDeJeux"></carousel>
  </div>
</div>


<div class="fluidContainer3 boxH">

</div>

<!-- Cards List with Paginator -->

<div class="container row fluidContainer5">
  <mat-card class="card col secondary" *ngFor="let jeux of (ListeDeJeux |slice: lowValue: highValue)">
    <img mat-card-image src="{{jeux.pictureUrl}}" alt="Apex Legend">
    <h1 class="titleGame">{{jeux.title}}</h1>
    <mat-card-actions class="row">
      <button mat-button class="tertiary" (click)="selectFavorite(jeux)">
        <mat-icon class="favorite">favorite</mat-icon>
      </button>
      <button mat-button class="tertiary" (click)="addToGameUser(jeux)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-button class="tertiary" >
        <mat-icon>info</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</div>


<div class="paginator paginatorContainer fluidContainer3">
  <form action="">
    <label for="itemsPerPage">Nombre de jeux par page: </label>
    <input type="number" id="highValue">
    <button type="button" (click)="setHighValue();">set</button>
  </form>
  <mat-paginator [length]="totalSize"
      [pageSize]="pageSize"
      (page)="pageEvent = $event;switchPaginatorData($event)">
  </mat-paginator>


</div>

