.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.mat-card {
  width: min-content;
  height: min-content;
  margin:auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mat-card-actions {
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
}

.mat-button {
  margin-left: 20px;
}

.container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 25px;
}

.paginatorContainer{
  padding: 50px;
  font-size: 2.5rem;
  color: white;
  justify-content: center;
}

.header {
  justify-content: center;
  color: white;
  padding: 50px;
  margin: 25px 0px 25px 0px;
  /* background-image: ; */
}

.mat-card-image {
  width: 240px;
  height: 160px;

}

.paginator {
  font-size: 2rem;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.containerCarousel {
  margin: auto;
  display: block;
  height: 400px;
  width: 400px;
  padding: 2em;
  box-shadow: #e2a551 1px 1px 3px 3px ;
  border-radius: 25%;
}

.fluidContainer1 {
  width: 100vw;
  background-color: rgba(18, 179, 179, 0.781);
  margin:0px;
}

.fluidContainer2 {
  width: 100vw;
  background-color: rgba(209, 29, 29, 0.678);
  margin:0px;
}

.fluidContainer3 {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.781);
  margin:0px;
}

.fluidContainer4 {
  width: 100vw;
  background-color: rgba(155, 111, 111, 0.678);
  margin:0px;
}

.fluidContainer5 {
  margin-top: 2rem;
  width: 100vw;
  background-color: #171a1d;
}

.boxH {
  min-height: 25vh;
}
