.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.mat-card {
  width: min-content;
  height: min-content;
  margin:auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mat-card-actions {
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
}

.mat-button {
  margin-left: 20px;
}

.container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.paginatorContainer{
  margin: 2rem 0px 2rem 0px;
  font-size: 2.5rem;
  color: white;
  justify-content: center;
}

.header {
  justify-content: center;
  color: white;
  padding: 50px;
  margin: 25px 0px 25px 0px;
  /* background-image: ; */
}

.mat-card-image {
  width: 240px;
  height: 160px;

}

.paginator {
  font-size: 2rem;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.containerCarousel {
  margin: auto;
  display: block;
  height: 400px;
  width: 400px;
  padding: 2em;
  box-shadow: #318CE7 1px 1px 3px 3px ;
  border-radius: 25%;
}

.fluidContainer1 {
  width: 100vw;
  background-color: rgba(18, 179, 179, 0.781);
}

.fluidContainer2 {
  width: 100vw;
  background-color: rgba(170, 190, 190, 0.87);
}

.fluidContainer3 {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.781);
}

.boxH {
  min-height: 25vh;
  margin: 5vh 0px 5vh 0px;
}
