.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.card {
  width: 15vw;
  height:fit-content;
  margin:auto;
  justify-content: center;
  align-items: center;
}

.container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 92vw;
  margin: auto;
}

.paginatorContainer{
  margin: 2rem 0px 2rem 0px;
  font-size: 2.5rem;
  color: white;
  justify-content: center;
}
