<div class="fluidContainer0 heightTen box">
  <h1>Support</h1>
</div>

<!-- <div class="fluidContainer3 heightTwenty box">
  <ul>
    <li class='row'>
      - Choose Background Color:
      <div *ngFor="let color of colors" >
        <div class="square" style="width:60px;height:60px; border: 2px solid white; margin: 10px;">
          {{color}}
        </div>
      </div>
    </li>
  </ul>
</div> -->

<div class="fluidContainer3 heightTwenty box">
  <h4>Veuillez vous rendre sur notre discord dans l'onglet <img src="../../../../assets/support.PNG" alt="support"> afin de contacter le support.</h4>
  <iframe src="https://discord.com/widget?id=832157160099020800&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>
