<div  class="secondary">
<ul *ngFor="let friend of user.friendsList">
  
  <mat-expansion-panel hideToggle 
  #panel 
  (mouseenter)="panel.open()"
  (mouseleave)="panel.close()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <li>
          {{ friend.MeetName }}    
        </li>        
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
      {{ friend.Online }}    
    </li>
    <li>
      {{ friend.MainGame }}    
    </li>
    <div *ngIf="inviter else templateInviter">
    <button (click)="invitationEnvoyer()">Inviter</button>    
    </div>
    <ng-template #templateInviter>
      <button (click)="invitationEnvoyer()"> Invitation Envoyer</button>
    </ng-template>
  </mat-expansion-panel>  
</ul>
</div>