
<mat-card *ngFor="let friend of user.friendsList" class="friendList">
  
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ friend.MeetName }}          
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ friend.Online }}    
    </p>
    <p>
      {{ friend.MainGame }}  
    </p>  
    <div *ngIf="inviter else templateInviter">
    <button (click)="invitationEnvoyer()">Inviter</button>    
    </div>
    <ng-template #templateInviter>
      <button (click)="invitationEnvoyer()"> Invitation Envoyer</button>
    </ng-template>
  </mat-expansion-panel>  

</mat-card>

