{% extends 'base.html.twig' %}

{% block title %}Edit AuthProfile{% endblock %}

{% block body %}
    <h1>Edit AuthProfile</h1>

    {{ include('auth_profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('auth_profile_index') }}">back to list</a>

    {{ include('auth_profile/_delete_form.html.twig') }}
{% endblock %}
