{% extends 'base.html.twig' %}

{% block title %}New AuthProfile{% endblock %}

{% block body %}
    <h1>Create new AuthProfile</h1>

    {{ include('auth_profile/_form.html.twig') }}

    <a href="{{ path('auth_profile_index') }}">back to list</a>
{% endblock %}
