<div class="container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">

  <div class="sticky">
    <mat-toolbar  class="toolbar">
      <button mat-icon-button (click)="lsnav.toggle()"><mat-icon>menu</mat-icon></button>


      <span class="spacer"></span>

        <img src="../../../../assets/logo.png" alt="logo">

      <span class="spacer"></span>

      <button mat-icon-button  (click)="redirectHome()"><mat-icon>home</mat-icon></button>

    </mat-toolbar>

  </div>

  <mat-sidenav class="stickyNav" #lsnav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list >
      <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
        <mat-icon class="iconNavBar">{{nav.icon}}</mat-icon>
            <span class="listMenu">{{nav.name}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-container class="sidenav-container">


    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
