.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  height: 10vh;

}

.logo>img {
  height: 50vh;
  margin-top: 5vh;
}

.toolbar {
  background-color: #1e3566;
  color: white;
  border-bottom: 1px solid white;
}

.mat-list-item {
  color: white;
}

