.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}

img {
  max-height: 100px;

}

.toolbar {
  background-color: #1e3566;
  color: white;
  border-bottom: 1px solid white;
}

.mat-list-item {
  color: white;
}

.listMenu{
  margin-left: 10px;
}
