.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}



.stickyNav {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 100;
  width: fit-content;
  height: fit-content;
  background-color: #212529;
  border-radius: 15%;
  border: #e2a551 2px solid ;
}

/* .sidenav-container {
  top: -338px;
} */

mat-toolbar {
  height: 10vh;
}

img {
  max-height: 100px;

}

.toolbar {
  background-color: #212529;
  color: white;
  border-bottom: 2px solid #e2a551;
}

.mat-list-item {
  color: white;
}

.listMenu{
  margin-left: 10px;
}

.mat-sidenav-content {
  /* min-height: 100vh; */
  width:100vw;
}

.mat-drawer-content {
  overflow: hidden;
}

mat-nav-list{
  overflow-y: hidden;
  overflow-x: hidden;
}

.mat-drawer.mat-drawer-side {
  z-index: 9999;
  margin-top: -338px;
}

