ul {
  list-style: none;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  max-height: 80vh;
  min-width: 10rem;
}

li {
  margin-right: 1rem;
}

.gameList{
  margin-top: 3%;
  justify-content: center;
  font-size: 100%;
  margin-left: 5%;
  width: 10.3rem;
}