@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
body {
  --background: #212529;
  background-color: var(--background);
  --text: white;
  color: var(--text);
  --warn: {
    background-color: #171a1d;
    font: #b40404;
    border: #e2a551;
  }
}

.primaryCustom {
  background-color: #171a1d; /*FONT*/
}

.secondaryCustom {
  background-color: #212529; /*HEADER*/
}

.tertiaryCustom {
  background-color: #e2a551; /*BORDER*/
}

.warnCustom{
  background-color: #171a1d ;
  color: #b40404;
}

p,h1,h2,h3 {
  color: white ;
}

hr{
  border: 1px solid #e2a551;
}

mat-card {
  border: 1px solid #e2a551;
  box-shadow: 3px 3px 10px #e2a551;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212529;
  overflow-x: hidden;
}
