
/* You can add global styles to this file, and also import other style files */

.primary {
  background-color: #171a1d ;
}

.secondary {
  background-color: #212529;
}

.tertiary {
  background-color: #e2a551;
}

p {
  color: white ;
}

mat-card {
  border: 1px solid #e2a551;
  box-shadow: 3px 3px 10px #e2a551;
}

