<div class="mainTopUser">
  <div>
    <label class="hoverable" for="fileInput">
      <img class="imgProfil" [src]="user.avatarIMG ? user.avatarIMG : 'assets/LogoAvatar.png'">
      <div class="hover-text">Modifier</div>
      <div class="background"></div>
    </label>
    <br/>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">
  </div>

  <ul>
    <li>
      {{user.nom}} {{user.prenom}}
    </li>
    <li class="age" *ngIf="user.age !== '?'; else setAgeTemplate;">
      {{user.age}} ans
    </li>
    <ng-template #setAgeTemplate>
      <li>
        how old are you ?
        <input type="number" name="age" >
        <button type="button" (click)="setAge()" >Valider</button>
      </li>
    </ng-template>
    <li class="pseudo" *ngIf="user.pseudo !== '?'; else setMateName;">
      MateName : {{user.pseudo}}
    </li>
    <ng-template #setMateName>
      <li>
        choose a pseudo:
        <input type="text" name="pseudo" >
        <button type="button" (click)="setPseudo()">Valider</button>
      </li>
    </ng-template>
    <li>
      {{user.favorite}}
    </li>
  </ul>
</div>

<br>

<div class="mainMiddleUser" *ngIf="user.socialNetwork[0]">

  <div class="mainInfoDiscord">
  <mat-expansion-panel hideToggle class="expansion-panel-class" >
    <mat-expansion-panel-header>
      <mat-panel-title>
          <label class="logoSocialDiscord" >
            <img class="imgLogoDiscord" src="assets/social/discord.png">
            <div class="background"></div>
          </label>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p class="pseudoSocial">{{user.socialNetwork[0].Pseudo}}</p>
  </mat-expansion-panel>
  </div>
  <!-- <div class="mainInfoDiscord">
    <label class="logoSocialDiscord">
      <img class="imgLogoDiscord">
      <div class="background"></div>
    </label>
    <p>{{user.socialNetwork[0].Pseudo}}</p>
  </div> -->

    <div class="mainInfoSteam">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialSteam">
              <img class="imgLogoSteam" src="assets/social/steam.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{user.socialNetwork[1].Pseudo}}</p>
    </mat-expansion-panel>
    </div>


  <!-- <div class="mainInfoSteam">
    <label class="logoSocialSteam">
      <img class="imgLogoSteam"/>
    <div class="background"></div>
  </label>
    <p>{{user.socialNetwork[1].Pseudo}}</p>
  </div> -->

    <div class="mainInfoBattleNet">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialBN">
              <img class="imgLogoBN" src="assets/social/battleNet.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{user.socialNetwork[2].Pseudo}}</p>
    </mat-expansion-panel>
  </div>

  <!-- <div class="mainInfoBattleNet">
    <label class="logoSocialBN">
      <img class="imgLogoBN"/>
      <div class="background"></div>
    </label>
    <p>{{user.socialNetwork[2].Pseudo}}</p>
  </div> -->

    <div class="mainInfoOrigin">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialOrigin">
              <img class="imgLogoOrigin" src="assets/social/origin.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{user.socialNetwork[3].Pseudo}}</p>
    </mat-expansion-panel>
    </div>
  <!-- <div class="mainInfoOrigin">
    <label class="logoSocialOrigin">
      <img class="imgLogoOrigin"/>
      <div class="background"></div>
    </label>
    <p>{{user.socialNetwork[3].Pseudo}}</p>
  </div>  -->

    <div class="mainInfoEpicGames">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialEpicGames">
              <img class="imgLogoEpicGames" src="assets/social/epicGames.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{user.socialNetwork[4].Pseudo}}</p>
    </mat-expansion-panel>
    </div>
  <!-- <div class="mainInfoEpicGames">
    <label class="logoSocialEpicGames">
      <img class="imgLogoEpicGames"/>
      <div class="background"></div>
    </label>
    <p>{{user.socialNetwork[4].Pseudo}}</p>
  </div> -->
</div>







