.mainTopUser{
  border: 1px solid white;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  min-height: 20vh;
  min-width: 50vw;
  max-width: 50rem;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.8rem;
}


.mat-card-avatar {
  border: #318CE7 2px solid;
  height: 90px;
  width: 83px;
  border-radius: 50%;
  background-image: url('src\assets\avatar.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2rem;
}

.pseudo {
  color: red;
}


