.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.col > p {
  margin: 15px;
}

.userProfil {
  min-width: 30vw;
  min-width: 20vh;
  margin: auto;
  padding: 10px;
  background-color: #171a1d;
  border: #e2a551 2px solid;
}

.spacer {
  min-width: 15px;
}

.mainTopUser{
  /* border: 1px solid white; */
  display:flex;
  flex-direction:row;
  justify-content: center;
  min-height: 20vh;
  min-width: 50vw;
  max-width: 50rem;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  border-top: 2rem;
}
.mainMiddleUser{
  border: 0px solid rgb(63, 235, 77);
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 20vh;
  min-width: 50vw;
  max-width: 50rem;
  align-items: center;
  font-size: 1.8rem;
}

.mat-card-avatar {
  border: #318CE7 2px solid;
  height: 90px;
  width: 83px;
  border-radius: 50%;
  /* background-image: url('src\assets\Logo.png'); */
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2rem;
}

.pseudo {
  color: red;
}
.pseudoSocial {
  font-size: 110%;
}

/* Cards infos jeux */

/* .mainInfoDiscord {
  border: 1px solid rgb(199, 18, 18);

}
.mainInfoSteam {
  border: 1px solid rgb(71, 71, 71);
}
.mainInfoBattleNet{
  border: 1px solid rgb(71, 166, 221);
}
.mainInfoOrigin{
  border: 1px solid rgb(255, 174, 54);
}
.mainInfoEpicGames{
  border: 1px solid rgb(0, 0, 0);
}  */

.logoSocialSteam {
  cursor: pointer;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border: 0px solid rgb(71, 71, 71);

}
.logoSocialOrigin {
  cursor: pointer;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border: 0px solid rgb(255, 174, 54);

}
.logoSocialEpicGames {
  cursor: pointer;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border: 0px solid #000;
}
.logoSocialBN {
  cursor: pointer;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border: 0px solid rgb(71, 166, 221);

}
.logoSocialDiscord {
  cursor: pointer;
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  border: 0px solid rgb(132, 114, 156);
}
.imgLogoDiscord {
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('src\app\assets\social\discord.png'); */
  background-size: 140%;
  border-radius: inherit;
  position: absolute;
  display:block;
  width: 100%;
  height: 100%;
  margin-left: 16px;
}
.imgLogoSteam {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  border-radius: inherit;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 5px;
}
.imgLogoOrigin {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  border-radius: inherit;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 5px;
}
.imgLogoEpicGames {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  border-radius: inherit;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 5px;
}
.imgLogoBN {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  border-radius: inherit;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 16px;
}


/* Changement Image Profil  */
p {
  font-family: Lato;
}

.imgProfil {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 5px solid #e2a551;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
.expansion-panel-class{
  background-color: #212529;
}