<div class="mainTopUser">
  <div>
    <label class="hoverable" for="fileInput">
      <img class="imgProfil" [src]="user.avatar ? user.avatar : 'assets/LogoAvatar.png'">
      <div class="hover-text">Modifier</div>
      <div class="background"></div>
    </label>
    <br/>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">
  </div>

  <div class="userProfil row">
    <div class="col">
      <p *ngFor="let key of userInfoKeys">{{key}}</p>
    </div>
    <div class="col">
      <p *ngFor="let item of userInfoArray;">{{item}}</p>
    </div>
  </div>

</div>

<br>

<div *ngIf="userInfoKeys.length > 4;else completeProfile">
  <!-- Profile Completed -->
</div>
<ng-template #completeProfile>
  <h1>Complete your Profil</h1>
  <button mat-raised-button (click)="openProfilDialog()">Complete your Profil</button>

</ng-template>

<div class="mainMiddleUser">

  <div class="mainInfoDiscord">
  <mat-expansion-panel hideToggle class="expansion-panel-class" >
    <mat-expansion-panel-header>
      <mat-panel-title>
          <label class="logoSocialDiscord" >
            <img class="imgLogoDiscord" src="assets/social/discord.png">
            <div class="background"></div>
          </label>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p class="pseudoSocial">{{socialNetwork[0].Pseudo}}</p>
  </mat-expansion-panel>
  </div>
  <!-- <div class="mainInfoDiscord">
    <label class="logoSocialDiscord">
      <img class="imgLogoDiscord">
      <div class="background"></div>
    </label>
    <p>{{socialNetwork[0].Pseudo}}</p>
  </div> -->

    <div class="mainInfoSteam">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialSteam">
              <img class="imgLogoSteam" src="assets/social/steam.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{socialNetwork[1].Pseudo}}</p>
    </mat-expansion-panel>
    </div>

<!-- 
  <div class="mainInfoSteam">
    <label class="logoSocialSteam">
      <img class="imgLogoSteam"/>
    <div class="background"></div>
  </label>
    <p>{{socialNetwork[1].Pseudo}}</p>
  </div> -->

    <div class="mainInfoBattleNet">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialBN">
              <img class="imgLogoBN" src="assets/social/battleNet.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{socialNetwork[2].Pseudo}}</p>
    </mat-expansion-panel>
  </div>

  <!-- <div class="mainInfoBattleNet">
    <label class="logoSocialBN">
      <img class="imgLogoBN"/>
      <div class="background"></div>
    </label>
    <p>{{socialNetwork[2].Pseudo}}</p>
  </div> -->

    <div class="mainInfoOrigin">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialOrigin">
              <img class="imgLogoOrigin" src="assets/social/origin.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{socialNetwork[3].Pseudo}}</p>
    </mat-expansion-panel>
    </div>
  <!-- <div class="mainInfoOrigin">
    <label class="logoSocialOrigin">
      <img class="imgLogoOrigin"/>
      <div class="background"></div>
    </label>
    <p>{{socialNetwork[3].Pseudo}}</p>
  </div> -->

    <div class="mainInfoEpicGames">
    <mat-expansion-panel hideToggle class="expansion-panel-class" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <label class="logoSocialEpicGames">
              <img class="imgLogoEpicGames" src="assets/social/epicGames.png">
              <div class="background"></div>
            </label>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p class="pseudoSocial">{{socialNetwork[4].Pseudo}}</p>
    </mat-expansion-panel>
    </div>
  <!-- <div class="mainInfoEpicGames">
    <label class="logoSocialEpicGames">
      <img class="imgLogoEpicGames"/>
      <div class="background"></div>
    </label>
    <p>{{socialNetwork[4].Pseudo}}</p>
  </div> -->
</div> 







